*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:aqua;
    color: aliceblue;
}
nav>.logo{
    color:black;
    font-size: 36px;
}
nav>.links{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
   
    
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.form-group {
    margin-bottom: 10px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

